/* GLOBAL */

body {
    margin:0;
    background:#0f0f0f;
    color:white;
    font-family: Arial;
}

.dashboard {
    display:flex;
    min-height:100vh;
}

/* SIDEBAR */

.sidebar {
    width:230px;
    background:#181818;
    border-right:1px solid #222;
    padding:20px;
}

.logo {
    font-size:22px;
    font-weight:bold;
    margin-bottom:20px;
}

.menu {
    list-style:none;
    padding:0;
}

.menu li {
    margin:10px 0;
}

.menu a {
    text-decoration:none;
    color:#ccc;
    font-size:15px;
}

.menu a:hover {
    color:white;
}

.active {
    color:white;
    font-weight:bold;
}

/* MAIN */

.main {
    flex:1;
    padding:20px;
}

/* FLASH */

.flash {
    padding:10px;
    margin-bottom:10px;
    border-radius:5px;
}

.success{background:#1e7f3a;}
.error{background:#c62828;}
.info{background:#1565c0;}

/* HERO */

.hero {
    background:rgba(255,255,255,0.05);
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
}

.hero h2 {
    margin:0;
}

.hero p {
    color:#aaa;
}

/* BOOK GRID */

.books h3 {
    margin-bottom:10px;
}

.grid {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
}

.card {
    background:rgba(255,255,255,0.05);
    padding:10px;
    border-radius:12px;
    text-align:center;
    transition:0.3s;
}

.card:hover {
    transform:scale(1.05);
    background:rgba(255,255,255,0.1);
}

.card img {
    width:100%;
    height:190px;
    object-fit:cover;
    border-radius:10px;
}

.card p {
    margin-top:8px;
    font-size:14px;
}

/* FOOTER */

footer {
    text-align:center;
    padding:15px;
    background:#181818;
    border-top:1px solid #222;
}

